[Desktop Entry]
Name=Snigdha OS Welcome
GenericName=Snigdha OS Welcome
X-GNOME-FullName=Snigdha Welcome
Comment=Welcome Application for System Installations
Exec=/usr/local/bin/snigdha-welcome
Icon=snigdha-hello
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
