[Desktop Entry]
Name=Snigdha OS Welcome
GenericName=Snigdha OS Welcome Welcome
X-GNOME-FullName=Snigdha OS Welcome Welcome
Comment=Welcome Application for Snigdha OS Installs
Exec=/usr/local/bin/snigdhaos-welcome
Icon=snigdhaos-icon
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
