[Desktop Entry]
Name=SnigdhaOS Welcome
GenericName=SnigdhaOS Welcome
X-GNOME-FullName=SnigdhaOS Welcome
Comment=Welcome Application for SnigdhaOS Installations
Exec=/usr/local/bin/snigdhaos-welcome
Icon=snigdhaos-welcome
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
